<div class="container">
  <h1>Dojo Weather Forecast</h1>
  <ul>
    <li>
      <a [routerLink]="['/seattle']">Seattle, WA</a>
    </li>
    <li>|</li>
    <li>
      <a [routerLink]="['/sanjose']">San Jose, CA</a>
    </li>
    <li>|</li>
    <li>
      <a [routerLink]="['/burbank']">Burbank, CA</a>
    </li>
    <li>|</li>
    <li>
      <a [routerLink]="['/dallas']">Dallas, TX</a>
    </li>
    <li>|</li>
    <li>
      <a [routerLink]="['/dc']">Washington D.C.</a>
    </li>
    <li>|</li>
    <li>
      <a [routerLink]="['/chicago']">Chicago, IL</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
